html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0e1012;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  margin: 20px auto 30px;
}

.starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starter__image {
  width: 500px;
  border-radius: 20px;
  display: block;
}

.starter__btn {
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 30s;
}

.gradient {
  position: relative;
  background: linear-gradient(to bottom, #8b00ff, #fca107 100%, white);
  z-index: 1;
}

.gradient:disabled {
  background: #161616;
}

.gradient::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(to bottom, #fca107, #8b00ff 100%, white);
  z-index: -1;
  transition: opacity 1s linear;
  opacity: 0;
  border-radius: 6px;
  border: none;
}

.gradient:hover:not(:disabled)::before {
  opacity: 1;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #161616;
  border-radius: 20px;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 200px;
}
