html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0e1012;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  padding: 20px;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin: 20px auto 30px;
}

.starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starter__image {
  width: 300px;
  max-width: 100%;
  border-radius: 20px;
  display: block;
}

.starter__btn {
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 30s;
}

.gradient {
  position: relative;
  background: linear-gradient(to bottom, #8b00ff, #fca107 100%, white);
  z-index: 1;
}

.gradient:disabled {
  background: #161616;
}

.gradient::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(to bottom, #fca107, #8b00ff 100%, white);
  z-index: -1;
  transition: opacity 1s linear;
  opacity: 0;
  border-radius: 6px;
  border: none;
}

.gradient:hover:not(:disabled)::before {
  opacity: 1;
}

.card {
  width: 200px;
  height: 320px;
  background-color: #161616;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.card__headlines {
  height: 100px;
  cursor: pointer;
}

.card__title {
  font-size: 21px;
}

.card__subtitle {
  font-size: 16px;
}

.card__text {
  font-size: 14px;
  height: 120px;
  position: relative;
  padding: 10px 0;
}

.card__text::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 80px;
  top: 0;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%);
}

.card__text::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 80px;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%);
}

.card__port {
  padding-top: 20px;
  cursor: pointer;
}

.question {
  color: transparent;
  background-image: linear-gradient(to bottom, #fca107, #8b00ff 100%, white);
  background-clip: text;
  -webkit-background-clip: text;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 200px;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.toggle__btn {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  color: #8b00ff;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.5s;
  width: 150px;
}

.toggle__btn:hover {
  color: #fca107;
}

@media (min-width: 650px) {
  h1 {
    font-size: 38px;
  }

  .starter__image {
    width: 500px;
  }

  .toggle {
    flex-direction: row;
  }
}
